---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog Updates!";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>... what do I REALLY have to say?</h2>
    <p>
        Not much, cause I'm super boring and unoriginal. But I'm trying my best!
        I swear, I am. I wanna be more interesting and have things to say. I
        used to love writing.
    </p>
    <p>
        But, ya know, what CAN ya do? You can only be who you are, and that is
        all I'm tryna do.
    </p>

    <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
