---
import "../styles/global.css";

const pageTitle = "Home page";

let firstNumber = 11;
let secondNumber = 20;

const total = firstNumber + secondNumber;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style>
			h1 {
				color: violet;
			}
		</style>
	</head>
	<header>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
	</header>
	<body>
		<h1>My very own Astro blog, woo!</h1>
		<p>
			First number: {firstNumber} + Second number: {secondNumber} = {
				total
			}
		</p>
	</body>


</html>
